.app-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  /* 사이드바 고정, 메인 컨텐츠 유동적 */
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  